<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <title>Saz Mifsud Designs</title>

    
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    {% if craft.config.devMode == 'false' or craft.config.devMode == false %}
    <!-- Google Tag Manager -->
    {% if false %}<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ defaultSeo.googleTagManagerId }}');</script>{% endif %}
    <!-- End Google Tag Manager -->
    {% endif %}
    {% endblock %}
</head>
<body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
{% block content %}{% endblock %}
</body>
</html>