{% extends "layouts/_app" %}

{% block content %}

<!-- Text Hero -->
<div class="bg-cover bg-center flex items-center justify-center bg-white">
    <div class="pt-16 px-4 sm:px-0 container mx-auto">
        <div class="text-grey-darker text-center mt-16">
            <div class="md:w-2/3 lg:w-2/5 mx-auto">
                <p class="font-sans uppercase text-xs tracking-wide animation-slide-up animation-delay-1">Saz Mifsud</p>
                <p class="font-sans font-black text-3xl leading-normal mt-2 animation-slide-up animation-delay-2">Design Collection</p>
                {# <div class="mt-4 italic font-sm font-sans leading-normal animation-slide-up animation-delay-3">{{ block.copy }}</div> #}
            </div>
        </div>
    </div>
</div>

<div class="container my-16 mx-auto px-4 lg:px-8 xl:px-16">
    <div class="rich-text leading-normal font-sans">
        <h4 class="text-xl font-black text-grey-darker">Collections</h4>
        {% for collection in craft.categories.group('collections').all() %}
            <p class="my-2">
                <a class="font-sans text-green font-bold" href="{{ collection.url }}">{{ collection.title }}</a>
            </p>
        {% endfor %}
    </div>
</div>

{% endblock %}