{% extends "layouts/_app" %}

{% block content %}

<!-- Text Hero -->
<div class="bg-cover bg-center flex items-center justify-center bg-white">
    <div class="pt-16 px-4 sm:px-0 container mx-auto">
        <div class="text-grey-darker text-center mt-16">
            <div class="md:w-2/3 lg:w-2/5 mx-auto">
                <p class="font-sans uppercase text-xs tracking-wide animation-slide-up animation-delay-1">Saz Mifsud</p>
                <p class="font-sans font-black text-3xl leading-normal mt-2 animation-slide-up animation-delay-2">{{ category.title }}</p>
                {# <div class="mt-4 italic font-sm font-sans leading-normal animation-slide-up animation-delay-3">{{ block.copy }}</div> #}
            </div>
        </div>
    </div>
</div>

<div class="container my-16 mx-auto px-4 lg:px-8 xl:px-16">
    <div class="leading-normal font-sans">
        <a href="/" class="font-sans no-underline text-green uppercase text-xs tracking-wide">← Collections</a>
        <h4 class="text-xl font-black text-grey-darker mb-8">Prints</h4>

        <div class="flex flex-wrap sm:-mx-8">
            {% for print, images in craft.assets.kind('image').source('designs').relatedTo(category).all()|group('print.one.title') %}

            <div class="w-full sm:w-1/2 sm:px-8 md:w-1/3 my-2">
                <div class="rounded overflow-hidden shadow-lg">
                    <div class="h-32 bg-cover bg-center w-full" style="background-image:url({{ images[0].getUrl('designThumbnail') }})"></div>

                    <div class="px-6 py-4">
                        <div class="font-bold text-xl">{{ print }}</div>
                    </div>
                    <div class="px-6 pb-4">
                        {% for image in images %}
                        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">{{ image.designSize.one().title }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}