{% extends "layouts/_app" %}

{% block content %}

<!-- Text Hero -->
<div class="bg-cover bg-center flex items-center justify-center bg-white">
    <div class="pt-4 px-4 sm:px-0 container mx-auto">
        <div class="text-grey-darker text-center mt-4">
            <div class="md:w-2/3 lg:w-2/5 mx-auto">
                <a href="/" class="no-underline text-black font-sans uppercase text-xs tracking-wide animation-slide-up animation-delay-1">Saz Mifsud</a>
                <p class="font-sans font-black text-3xl leading-normal mt-2 animation-slide-up animation-delay-2">{{ entry.title }}</p>
                <div class="mt-4 italic font-sm font-sans leading-normal animation-slide-up animation-delay-3">{{ entry.postDate|date('d/m/Y') }}</div>
            </div>
        </div>
    </div>
</div>

<div class="container my-16 mx-auto px-4 lg:px-8 xl:px-16">
    <div class="rich-text leading-normal font-sans">
        <h4 class="text-xl font-black text-grey-darker">Order Items</h4>
        {% for order in entry.scarfOrders.all() %}
            <div class="my-8 border-b pb-8">
                <p class="font-sans uppercase text-xs tracking-wide">Group {{ loop.index }}</p>
                <div class="mt-8">
                    <p class="font-sans font-bold  uppercase tracking-wide border-b-2 border-black pb-2 inline-block mb-4">Fabrics</p>
                    <p>{{ order.fabrics|join(', ') }}</p>
                </div>
                <div class="mt-8">
                    <p class="font-sans font-bold  uppercase tracking-wide border-b-2 border-black pb-2 inline-block mb-4">Quantities</p>
                    <p>{{ order.quantity }} prints per design, per fabric ({{ order.quantity * order.fabrics|length * order.designFiles|length }} prints total)</p>
                </div>
                <div class="mt-8">
                    <p class="font-sans font-bold  uppercase tracking-wide border-b-2 border-black pb-2 inline-block mb-4">Designs</p>
                    <div class="flex flex-wrap -mx-2">
                        {% for design in order.designFiles %}
                            <div class="w-64 px-2 my-2">
                                <div class="rounded overflow-hidden shadow-lg">
                                    <img class="w-full" src="{{ design.getUrl('designThumbnail') }}">

                                    <div class="px-6 py-4 text-sm">
                                        <div><span class="font-bold">Name:</span> {{ design.title }}</div>
                                        <div><span class="font-bold">Size:</span> {{ design.designSize.one().width }}cm W * {{ design.designSize.one().height }}cm H</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="mt-4">
                        {% if order.designFiles|length <= 10 %}
                        <form method="post" target="_blank">
                            {{ getCsrfInput() }}
                            <input type="hidden" name="action" value="zip-assets/download">
                            <input type="hidden" name="filename" value="{{ entry.slug }}-designs">
                            {% for design in order.designFiles %}
                            <input type="hidden" name="files[]" value="{{ design.id }}"><!-- asset id -->
                            {% endfor %}
                            <button type="submit" class="font-sans no-underline text-green font-black inline-block border-2 border-green py-2 px-8">⬇ Download ({{ order.designFiles|length }}) designs</button>
                        </form>
                        {% else %}
                        <p>The download has been split up into separate files to be smaller.</p>
                        {% for batch in order.designFiles|batch(10) %}
                            <form method="post" target="_blank" class="inline-block">
                                {{ getCsrfInput() }}
                                <input type="hidden" name="action" value="zip-assets/download">
                                <input type="hidden" name="filename" value="{{ entry.slug }}-designs">
                                {% for design in batch %}
                                <input type="hidden" name="files[]" value="{{ design.id }}"><!-- asset id -->
                                {% endfor %}
                                <button type="submit" class="mr-2 my-2 font-sans no-underline text-green font-black inline-block border-2 border-green py-2 px-8">⬇ Download Part #{{ loop.index }} - ({{ batch|length }}) designs</button>
                            </form>
                        {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}